.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.id {
  position: absolute;
  font-weight: 400;
  margin-top: 0;
  margin-left: 100px;
  padding: 8px 4px;
  font-size: medium;
  color: #b2babb;
}

.imagen {
  object-fit: contain;
  width: 120px;
  height: 100px;
  background-color: white;
  padding: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nombre {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 8px;
  color: #ffffff;
  font-size: medium;
  text-transform: capitalize;
  margin: 4px 0;
}

.wireframe {
  border: 2px solid #b8b8b8;
  background-color: #b8b8b8;
}

.normal {
  border: 2px solid #aaa67f;
  background-color: #aaa67f;
}

.fighting {
  border: 2px solid #c12239;
  background-color: #c12239;
}

.flying {
  border: 2px solid #a891ec;
  background-color: #a891ec;
}

.poison {
  border: 2px solid #a43e9e;
  background-color: #a43e9e;
}

.ground {
  border: 2px solid #dec16b;
  background-color: #dec16b;
}

.rock {
  border: 2px solid #b69e31;
  background-color: #b69e31;
}

.bug {
  border: 2px solid #a7b723;
  background-color: #a7b723;
}

.ghost {
  border: 2px solid #70559b;
  background-color: #70559b;
}

.steel {
  border: 2px solid #b7b9d0;
  background-color: #b7b9d0;
}

.fire {
  border: 2px solid #f57d31;
  background-color: #f57d31;
}

.water {
  border: 2px solid #6493eb;
  background-color: #6493eb;
}

.grass {
  border: 2px solid #74cb48;
  background-color: #74cb48;
}

.electric {
  border: 2px solid #f9cf30;
  background-color: #f9cf30;
}

.psychic {
  border: 2px solid #fb5584;
  background-color: #fb5584;
}

.ice {
  border: 2px solid #9ad6df;
  background-color: #9ad6df;
}

.dragon {
  border: 2px solid #7037ff;
  background-color: #7037ff;
}

.dark {
  border: 2px solid #75574c;
  background-color: #75574c;
}

.fairy {
  border: 2px solid #e69eac;
  background-color: #e69eac;
}
