.card-container {
  display: flex;
  align-items: center;
  gap: 24px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-prev,
.button-next {
  margin: 8px;
}
