.App {
  text-align: center;
}

.card-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #d2b4de;
  border-radius: 20px;
  background-color: #b2babb;
}

.card p:nth-child(1) {
}

.id {
  position: absolute;
  margin-left: 130px;
  padding: 8px 4px;
  font-size: small;
  color: white;
  background: #374151;
  border-radius: 50%;
}

.imagen {
  object-fit: contain;
  width: 200px;
  height: 200px;
  background-color: white;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nombre {
  color: whitesmoke;
  font-size: larger;
  text-transform: capitalize;
  margin: 4px 0;
}

.url {
  display: none;
  border-radius: 20px;
}
